.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing1x);
}

.label {
  color: var(--colorGreyPrimary);
  font-size: var(--fontSizeXs);
  text-align: left;
}

.input {
  color: var(--colorBlackPrimary);
  background: transparent;
  padding: var(--spacing3x) var(--spacing0x);
  border-bottom: var(--spacing1x) solid var(--colorBrandPrimary);

  &::placeholder {
    color: var(--colorGreyPrimary);
  }
}
