.chatterBox {
  display: grid;
  max-height: 100vh;
  height: 100vh;
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  grid-template-columns: minmax(0, 1fr);
}

.header {
  padding: var(--spacing0x) var(--spacing10x);
}

.conversation {
  padding: var(--spacing6x) var(--spacing10x);
  overflow-y: auto;

  &::-webkit-scrollbar {
    background: transparent;
    width: var(--spacing4x);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--colorGreySecondary);
    border-radius: var(--borderRadiusXs);
  }
}

.footer {
  padding: var(--spacing0x) var(--spacing10x);
}
