.aside {
  background: var(--colorWhiteSecondary);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  height: 100vh;
  max-height: 100vh;
}

.tools {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing6x);
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing4x) var(--spacing10x);
  margin: var(--spacing8x);
  border-radius: var(--borderRadiusXs);
  background: var(--colorBrandPrimary);
  color: var(--colorWhitePrimary);
  text-decoration: none;
}
