.page {
  display: grid;
  grid-template-columns: 64px 1fr;
  min-height: 100vh;
}

.linkBack {
  background: var(--colorWhiteSecondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
