.dialog {
  border: none;
  background: transparent;
  width: 340px;
  border-radius: var(--borderRadiusXs);
}

.header {
  background: var(--colorGreySecondary);
  padding: var(--spacing8x);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  background: var(--colorWhitePrimary);
  padding: var(--spacing8x);
}

.buttonClose {
  flex-shrink: 0;
  padding: var(--spacing4x);
}
