.header {
  padding: var(--spacing6x) var(--spacing0x);
  border-bottom: var(--spacing1px) solid var(--colorGreySecondary);
}

.info {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing4x);
}

.title {
  display: inline-block;
  font-size: var(--fontSizeXs);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
