.header {
  padding: var(--spacing6x) var(--spacing10x);
  border-bottom: var(--spacing1px) solid var(--colorGreySecondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing4x);
}

.title {
  display: inline-block;
  font-size: var(--fontSizeXs);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.infoText {
  display: flex;
  flex-direction: column;
}

.meta {
  font-size: var(--fontSizeXxs);
  color: var(--colorGreyPrimary);
}
