.form {
  display: grid;
  min-width: 510px;
  max-width: 510px;
  gap: var(--spacing6x);
  text-align: center;
  padding: var(--spacing3x) var(--spacing0x);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing6x);
}
