.form {
  padding: var(--spacing6x) var(--spacing0x);
  border-top: var(--spacing1px) solid var(--colorGreySecondary);
  width: 100%;
  max-width: 100%;
}

.field {
  flex-grow: 1;
}

.input {
  background: var(--colorGreySecondary);
  border-bottom: none;
  border-radius: var(--borderRadiusXs);
  padding: var(--spacing4x) var(--spacing8x);
}

.container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr auto;
  gap: var(--spacing4x);
}

.button {
  padding: var(--spacing4x);
  flex-shrink: 0;
}
