.root {
  display: flex;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: var(--spacing4x);
  transform: translateY(-50%);
  color: var(--colorGreyPrimary);
}

.input {
  background: var(--colorGreySecondary);
  padding: var(--spacing4x) var(--spacing4x) var(--spacing4x) var(--spacing20x);
  border-radius: var(--borderRadiusXs);
  border-bottom: none;
}
