.root {
  color: var(--colorWhitePrimary);
  background: var(--colorBrandPrimary);
  padding: var(--spacing4x) var(--spacing10x);
  border-radius: var(--borderRadiusXs);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.full {
  width: 100%;
}

.round {
  border-radius: var(--borderRadiusFull);
}

.danger {
  background: var(--colorDangerPrimary);
  color: var(--colorWhitePrimary);
}

.square {
  padding: var(--spacing4x);
  justify-content: center;
}

.loading {
  cursor: not-allowed;
  justify-content: center;
}
